h1 {
color: white;
font-family: "Courier New", Courier, monospace;
text-transform: uppercase;
font-size: 100px;
text-align: center;
}
p {
color: white;
font-family: "Courier New", Courier, monospace;
font-size: 30px;
text-align: center;
margin: 0;
padding: 0;
}
.name {
color: white;
font-family: "Courier New", Courier, monospace;
text-transform: uppercase;
font-size: 100px;
text-align: center;
margin: 0;
padding: 0;
}
body {
background-image: url('giphy.gif');
background-size: cover;
background-attachment: fixed;
background-size: 1530px 750px;
}
